html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 2rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #035881;
}

h4 {
  font-size: 1.1rem;
  font-weight: bolder;
  color: #555;
}

p {
  font-size: 1rem;
}

footer {
  font-size: .6rem;
}

header {
  margin: 0;
  position: relative;
}

header img {
  display: block;
  width: 100%;
}

header nav {
  margin: 0;
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: underline;
  color: #fff;
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
